@import "./theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Inter');

::selection {
  background-color: $blue;
  color: $white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}
textarea:focus, input:focus {
  outline: none;

}


