$dark:      #0D0D0D;
$gray:      #D4D4D4;
$darkgray:  #474745;
$white:     #E8EAEE;
$blue:      #318BBA;
$darkblue:  #146B90;
$green:     #28A34D;
$darkgreen: #20863F;
$red:       #D43939;
$darkred:   #BA3535;
$yellow:    #F5A623;
$darkyellow:#C58A28;

$primaryFont: 'Roboto', 'sans-serif';
$secondaryFont: 'Inter', 'sans-serif';
