@import "../../styles/theme.scss";

.bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $dark;
    height: 25rem;
    color: $white
}


